.wrapper{

    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.header{
    height: 25px;
    width: 1000px;
    margin-top: 50px;
    border-bottom: 1px solid #000;
}

.content{
    width: 1000px;

    height: 400px;

}
.diskDiv{
    border: 1px solid black;
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    width: 160px;

}
.bookDiv{
    border: 1px solid black;
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    width: 160px;
}
.furnitureDiv{
    border: 1px solid black;
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    width: 160px;
}

.disk{
    text-align: center; 
    margin-left: 10px;
}
.optionBtn{
    float: right;
}
/*#size{display: none; }
#weight {display: none; }
#dimensions {display: none;}
/*.data {display: none;}